section#contact.text-center
			.container
				.row
					+encabezado('CONTACT US')
					.col-md-6
						form
							input(type="text", class="txtName", placeholder="YOUR NAME*")
							input(type="text", class="txtEmail", placeholder="YOUR EMAIL*")
							input(type="text", class="txtPhone", placeholder="YOUR PHONE*")
					.col-md-6
						textarea YOUR MESSAGE*
					button(type="submit") SEND MESSAGE