section#services.text-center
			.container
				.row
					+encabezado('SERVICES')
					+single-service('first','E-Commerce')
					+single-service('second','Responsive Design')
					+single-service('third', 'Web Security')