section#team.text-center
			.container
				.row
					+encabezado('OUR AMAZING TEAM')
					+single-team('uno', 'Kay Garland', 'Lead Designer')
					+single-team('dos', 'Larry Parker', 'Lead Marketer')
					+single-team('tres', 'Diana Pertersen', 'Lead Developer')
				p.piedepagina Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aut eaque, laboriosam veri8atis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.