- var parrafo = " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit cum explicabo consequuntur consectetur placeat labore molestiae maiores inventore "

- var parraforesumido ="Lorem ipsum dolor sit amet consectetur."